// .herosect {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
//   height: 70vh;
//   margin: 2% 7%;
//   .herotext {
//     h1 {
//       font-size: 2.1rem;
//       color: #373d3f;
//       margin-bottom: 0;
//       flex-basis: 50%;
//     }
//     .herodesc {
//       margin-top: 0;
//       width: 85%;
//       text-align: justify;
//     }
//     .buttons {
//       display: flex;
//       justify-content: flex-start;
//       flex-wrap: wrap;
//       .btn {
//         box-sizing: border-box;
//         margin: 20px;
//         padding: 15px 20px;
//         text-decoration: none;
//         border-radius: 35px;
//       }
//       .btn-active {
//         background: linear-gradient(45deg, #2980b9, #3498db);
//         color: #fff;
//         transition: 0.5s all linear;
//         border: 1px solid #fff;
//         &:hover {
//           background: linear-gradient(45deg, #fff, #fff);
//           // border: 1px solid #2980b9;
//           color: #373d3f;
//           border: 1px solid #2980b9;
//         }
//       }
//       .btn-ghost {
//         background-color: #fff;
//         padding: 15px 50px;
//         color: #373d3f;
//         transition: 0.5s all linear;
//         border: 1px solid #2980b9;
//         &:hover {
//           background: linear-gradient(45deg, #2980b9, #3498db);
//           color: #fff;
//         }
//       }
//     }
//   }

//   .heroimage {
//     max-width: 100%;
//     width: 90vw;
//     height: auto;
//   }
// }

// @media screen and (max-width: 768px) {
//   .herosect {
//     flex-wrap: wrap;
//     .heroimage {
//       margin-top: 20px;
//     }
//     .herotext {
//       h1 {
//         font-weight: 100;
//       }
//       .herodesc {
//         width: 100%;
//       }
//       .buttons {
//         .btn {
//           margin: 10px 20px;
//         }
//       }
//     }
//   }
// }
