@import '../colors';

.member-mainbody{
	margin-top: 30px;
}

.site-content-members {
    padding: 30px 2%;
    .showmembers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        flex-basis: 70%;
        box-shadow: none;
        .profile-pic {
            width: 100px;
            height: 100px;
            min-width: 70px;
            border-radius: 100%;
            object-fit: cover;
        }
        .member-card {
			box-shadow: 0 4px 8px 0 rgba(82, 82, 82, 0.2);
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            a {
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                color: rgb(42, 42, 42);
            }
            img {
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }
            transition: box-shadow 0.3s ease-in;
            -webkit-transition: box-shadow 0.3s ease-in;
        }
        .member-card:hover {
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

.member-heading {
	text-align: center;
	font-size: 2em;
	&:after{
		content: "  ";
		display:inline-block; /* So we can set a width */
		width: 0;
		margin-left: 10px; /* "Size" of the Pseudo-element */
	}
}

.scoordinator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-basis: 70%;
    box-shadow: none;
    .profile-pic {
        width: 100px;
        height: 100px;
        min-width: 70px;
        border-radius: 100%;
        object-fit: cover;
    }
    .coordinator {
		box-shadow: 0 4px 8px 0 rgba(82, 82, 82, 0.2);
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        a {
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            color: rgb(42, 42, 42);
        }
        img {
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
        transition: box-shadow 0.3s ease-in;
        -webkit-transition: box-shadow 0.3s ease-in;
    }
    .coordinator:hover {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 1250px) {
    .showmembers {
        flex-basis: 90% !important;
        .member-card {
            margin: 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    .showmembers {
        flex-basis: 100%;
        .member-card {
            margin: 5px;
        }
    }
}
