@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

@import "components/index";
@import "partials/base";

html {
  font-family: $font, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  box-sizing: border-box;
}

.mainbody {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  padding: 0 3rem 3rem 3rem;
}
.mainbodyImage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 25px;
  padding: 25px;
}

.mainText {
  font-family: "Noto Sans JP", sans-serif;
  font-size: large;
}

@media screen and (max-width: 768px) {
  .site-content {
    margin-top: 75px;
  }
}
pre {
  padding: 1rem;
  background-color: whitesmoke;
}

code {
  background-color: whitesmoke;
}
